:root {
  --default: #e0e0e0;
  --default-hover: #aeaeae;
  --primary: #3d5afe;
  --primary-hover: #0039cb;
  --secondary: #455a64;
  --secondary-hover: #1c313a;
  --danger: #d32f2f;
  --danger-hover: #9a0007;
  --light-blue: rgba(41, 98, 255, 0.1);
  --white: #fff;
  --disabled: #9e9e9e;
  --text-color: #3e3e3e;
}

:root {
  --space-xs: 6px;
  --space-s: 8px;
  --space-m: 12px;
  --space-l: 16px;
  --space-xl: 24px;
}

:root {
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #3f3f3f;
}

.App {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
