.main {
  padding: 90px 50px;
  &__title {
    font-size: var(--font-size-xl);
    color: #4f4f4f;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  &__helperText {
    font-family: "Ubuntu Mono", monospace;
    font-size: var(--font-size-xs);
    color: #828282;
    margin-top: 50px;
  }

  &__creator {
    font-family: "Montserrat", sans-serif;
    line-height: 17px;
    font-size: var(--font-size-s);
    font-weight: 500;
    color: #a9a9a9;
    margin-top: 50px;
  }

  &__username {
    font-weight: 700;
    text-decoration: underline;
  }
}
